body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.panel-primary{
  background: #f3f3f3;
}

.alert-success{
    z-index: 999 !important;
    position: fixed !important;
}

.btnAd {
    right: 10px;
    position: absolute;
    display: block;
    top: 225px;
    width: 180px;
    height: 50px;
}
